.beshenyy_fleks {
    animation-name: beshenyy_fleks;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

.drozhalka {
    animation-name: drozhalka;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}